body { background-color: #123995
	}

h1 { color: #A5A3B5;
     text-align: center}
h2 { color: #A5A3B5;
     }

p  { color: #A5A3B5;
     }
     
div { top-padding: 1;
	bottom-padding: 1}
